<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-queries-schemes" version="0.1.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>App Queries Strings</name>
    <author>Rob Hilgefort (http://rob.hilgefort.me)</author>
    <description>
        Cordova / PhoneGap Plugin to work arround Apple's iOS9 requirement that URL Schemes be declared and submitted to Apple (via Info.plist file)
    </description>
    <keywords>cordova, ios, app, queries, url, schemes, lsapplicationqueriesschemes</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <platform name="ios">
        <!--app 地区 相机按钮英文问题-->
        <config-file target="*-Info.plist" parent="CFBundleDevelopmentRegion">
            <string>zh_CN</string>
        </config-file>
        <!--app 方向设定 上-->
        <config-file target="*-Info.plist" parent="UISupportedInterfaceOrientations">
            <array>
                <string>UIInterfaceOrientationPortrait</string>
            </array>
        </config-file>
         <!--白名单-->
        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>terrydr.doctor</string>
                <string>fb</string>
                <string>twitter</string>
                <string>gplus</string>
                <string>pintrest</string>
                <string>instagram</string>
                <string>youtube</string>
                <string>vnd.youtube</string>
                <string>yelp</string>
                <string>linkedin</string>
                <string>tumblr</string>
                <string>whatsapp</string>
                <string>snapchat</string>
                <string>comgooglemaps</string>
                <string>amazon</string>
                <string>skype</string>
                <string>googledrive</string>
                <string>itms-apps</string>
                <string>tel</string>
                <string>mailto</string>
                <string>mqq</string>
                <string>mqqapi</string>
                <string>mqqwpa</string>
                <string>mqqbrowser</string>
                <string>mttbrowser</string>
                <string>mqqOpensdkSSoLogin</string>
                <string>mqqopensdkapiV2</string>
                <string>mqqopensdkapiV3</string>
                <string>mqqopensdkapiV4</string>
                <string>wtloginmqq2</string>
                <string>mqzone</string>
                <string>mqzoneopensdk</string>
                <string>mqzoneopensdkapi</string>
                <string>mqzoneopensdkapi19</string>
                <string>mqzoneopensdkapiV2</string>
                <string>mqqapiwallet</string>
                <string>mqqopensdkfriend</string>
                <string>mqqopensdkdataline</string>
                <string>mqqgamebindinggroup</string>
                <string>mqqopensdkgrouptribeshare</string>
                <string>tencentapi.qq.reqContent</string>
                <string>tencentapi.qzone.reqContent</string>
                <string>wechat</string>
                <string>weixin</string>
            </array>
        </config-file>
         <!-- 跳转app url URL types应用程序支持的url标识符的一个数组(用于程序回调，比如新浪微博验证成功后回调到该程序时候)-->
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLName</key>
                    <string>weixin</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>wx81f40406b3c59044</string>
                    </array>
                </dict>
            </array>
            <array>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLName</key>
                    <string>tencent</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>1105336069</string>
                    </array>
                </dict>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLName</key>
                    <string>qzoneScheme</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>mqzone</string>
                    </array>
                </dict>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLName</key>
                    <string>tencentApiIdentifier</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>tencent1105336069</string>
                    </array>
                </dict>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLName</key>
                    <string>mqqapi</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>1105336069</string>
                    </array>
                </dict>
            </array>
        </config-file>
    </platform>
</plugin>
